<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>todo app</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script src="https://use.fontawesome.com/c5714e8f1d.js"></script>
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Todo</h1>
        </header>
        <section id="user-goals">
            <h2>My todo-list</h2>
            <input type="text" v-model="todoValue" />
            <button @click="addTodo">Add todo</button>
            <p v-if="todos.length === 0">
                No todos added yet - please start adding some!
            </p>
            <ul v-else>
                <li v-for="(todo, id) in todos">
                    {{id+1}} - {{todo}}
                    <i @click="removeTodo(id)" class="fa fa-trash"></i>
                </li>
            </ul>

            <!-- looping through an object -->
            <!-- <ul>
                <li v-for="(value, key) in {name: 'niss', age: 29}">
                    {{key}}: {{value}}
                </li>
            </ul> -->
        </section>
    </body>
</html>
